# Directories
node_modules
csv
html
json
dump
myenv

# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
*.log

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env